<section class="content-dashboard" [ngClass]="{'dark-content-dashboard' : dark === true}">
  <div class="background-top" [ngClass]="{'dark-background-top' : dark === true}"></div>
  <div class="container-cards container">
    <div class="cards-top row">
      <div class="nav-top">
        <div class="container-info">
          <h1>Social Media Dashboard</h1>
          <p [ngClass]="{'dark-txt' : dark === true}">Total Followers: 23,004</p>
        </div>
        <input (click)="toggleMode()" class="switch-toggle-custom" type="checkbox" id="switch" /><label
          class="label-switch-custom" for="switch"></label>
      </div>
      <div class="container-card">
        <div class="card-item" *ngFor="let element of socialMediaPeople" [ngClass]="{'dark-cards' : dark === true}">
          <div class={{element.border}}></div>
          <div class="card-head">
            <div class="item-line content-items">
              <img src="../assets/icon-{{element.socialNetwork}}.svg" alt="ico-img" />
              <p [ngClass]="{'dark-txt' : dark === true}">@{{element.username}}</p>
            </div>
          </div>
          <div class="card-content">
            <div class="content-items">
              <h3>{{element.followers}}</h3>
              <p [ngClass]="{'dark-txt' : dark === true}">{{element.desc}}</p>
            </div>
          </div>
          <div class="card-bottom">
            <div class="item-line content-items">
              <img src="../assets/{{element.iconResult}}.svg" alt="ico-img" />
              <p class="{{element.className}}">{{element.followersPerDay}} Today</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-bottom row">
      <h3>Overview - Today</h3>
      <div class="container-card">
        <div class="card-item" *ngFor="let element of interactionSocialMedia"
          [ngClass]="{'dark-cards' : dark === true}">
          <div class="line-card item">
            <p [ngClass]="{'dark-txt' : dark === true}">{{element.title}}</p>
            <img src='../assets/icon-{{element.name}}.svg' alt="ico-img" />
          </div>
          <div class="line-card item">
            <h3 [ngClass]="{'dark-title' : dark === true}">{{element.description}}</h3>
            <div class="line-card item">
              <img src="../assets/{{element.iconResult}}.svg" alt="ico-img" />
              <p class="{{element.className}}">&nbsp; {{element.percentage}}%</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>